[submodule "submodules/github.com/docopt/docopt.cpp"]
	path = submodules/github.com/docopt/docopt.cpp
	url = https://github.com/docopt/docopt.cpp.git
[submodule "submodules/github.com/snsinfu/h5"]
	path = submodules/github.com/snsinfu/h5
	url = https://github.com/snsinfu/h5.git
[submodule "submodules/github.com/snsinfu/micromd"]
	path = submodules/github.com/snsinfu/micromd
	url = https://github.com/snsinfu/micromd.git
[submodule "submodules/github.com/snsinfu/micromd@variant-2d"]
	path = submodules/github.com/snsinfu/micromd@variant-2d
	url = https://github.com/snsinfu/micromd.git
	branch = variant-2d
[submodule "submodules/github.com/danielaparker/jsoncons"]
	path = submodules/github.com/danielaparker/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "submodules/github.com/onqtam/doctest"]
	path = submodules/github.com/onqtam/doctest
	url = https://github.com/onqtam/doctest.git
