# https://rancher.com/docs/k3s/latest/en/installation/install-options/agent-config/
node-ip: "{{ internal_address }}"
node-external-ip: "{{ external_address }}"
node-label:
  - svccontroller.k3s.cattle.io/enablelb=true
