[Unit]
Description=SeaweedFS master server
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/weed master -port {{ seaweedfs_master_port }} -mdir /var/lib/seaweedfs/master
User=seaweed
Group=seaweed
Restart=on-failure

[Install]
WantedBy=multi-user.target
